@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');

:root {
  --main-body-font: 'Barlow Condensed';
}

.header-panel {
  margin: 0 0 0 0 ;
  padding: 0.6em 0;
  background-color: #FFD54F;
}
.header {
 font-family: var(--main-body-font);
  font-weight: 500;
  justify-content: center;
  display:flex;
  font-size: 3em;
}

.header-icon {
  padding: 1.2em 0 0 3em;
}

.page-title {
  font-family: var(--main-body-font);
  display: flex;
  justify-content: center;
  font-size: 2em;
  padding: 1em 0;
}
.page-header {
  font-family: var(--main-body-font);
  font-size: 1.5em;
}

.forms {
  font-family: var(--main-body-font) !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
